:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

body {
    font-family: Arial;
    margin: 20px
}

h2 {
    line-height: 1.5;
    box-sizing: inherit;
    font-size: 30px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    width: 100%
}

td,
th {
    border: 1px solid #ccc;
    padding: 5px
}

.form-field {
    padding: 18px;
}

textarea{
    width: 100%;
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
    margin: 10px 0;
}

textarea[readonly] {
    background-color: #e2e2e2;
    color: darkgray;
}

.certArea{
    padding-top: 10px;
}

.form-field input{
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
}

.error {
    color: var(--error-color);
}

.error input, .error textarea {
    border-color: var(--error-color);
    outline-color: var(--error-color);
}

.success input {
    border-color: var(--success-color);
    outline-color: var(--success-color);
}

.success textarea {
    border-color: var(--success-color);
    outline-color: var(--success-color);
}

.form-field-table input{
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-field-table.error input{
    border-color: var(--error-color);
    outline-color: var(--error-color);
}

.form-field-table.success input:focus {
    border-color: var(--success-color);
    outline-color: var(--success-color);
}

.input-disabled {
    background-color: #e2e2e2;
    cursor: not-allowed;
}

.custom-button,
.custom-button-small {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button {
    padding: 10px 20%;
    min-width: 80px;
    font-size: 18px;
}

.custom-button-small {
    padding: 7px 20px;
    font-size: 14px;
}

.custom-button:hover,
.custom-button-small:hover {
    background-color: #a04545;
}

.custom-alert {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-alert-content {
    background-color: #fefefe;
    margin-left: 30rem;
    margin-top: 20rem;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#alertMessage {
    color: #28a745;
}

.center {
    text-align: center;
}

.checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 42px;
}

.checkbox-wrapper-22 .switch input {
    display: none;
}

.checkbox-wrapper-22 .slider {
    background-color: #e2e2e2;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 20px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 20px;
}

.checkbox-wrapper-22 input:checked+.slider {
    background-color: #4CAF50;
}

.checkbox-wrapper-22 input:checked+.slider:before {
    transform: translateX(18px);
}

.checkbox-wrapper-22 .slider.round {
    border-radius: 20px;
}

.checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
}

.bar {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: inherit;
    width: 100%;
    overflow: hidden;
    color: #fff !important;
    background-color: #4CAF50 !important;
    border-radius: 4px;
}

.bar-item,
.bar-button {
    box-sizing: inherit;
    font: inherit;
    margin: 0;
    text-transform: none;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    white-space: normal;
}

.bar-button {
    cursor: pointer;
}

.bar-button:hover {
    transition: background-color 0.3s;
    background-color: #a04545 !important;
}

.container {
    display: flex;
}

.container>.right {
    flex-grow: 1;
    margin-left: 10px;
}

.container>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container>div.left {
    align-items: flex-start;
}

.left>div,
.right>div {
    margin: 5px 0;
    height: 1.5em;
}

.setting-item-hide {
    display: none;
}

.setting-item-show {
    display: block;
}

small {
    padding: 3px;
}