:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

body {
    font-family: Arial;
    margin: 20px
}

table {
    border-collapse: collapse;
    width: 100%
}

td,
th {
    border: 1px solid #ccc;
    padding: 5px
}

.form-field {
    padding-top: 18px;
    padding-bottom: 18px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
}

.form-field-table input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-field-table.error input:focus {
    border-color: var(--error-color);
    outline-color: var(--error-color);
}

.form-field-table.success input:focus {
    border-color: var(--success-color);
    outline-color: var(--success-color);
}

.input-disabled {
    background-color: #e2e2e2;
    cursor: not-allowed;
}

.custom-button,
.custom-button-small {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button {
    padding: 10px 20%;
    min-width: 80px;
    font-size: 18px;
}

.custom-button-small {
    padding: 7px 20px;
    font-size: 14px;
}

.custom-button:hover,
.custom-button-small:hover {
    background-color: #a04545;
}

.custom-alert {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.custom-alert-content {
    background-color: #fefefe;
    margin-left: 30rem;
    margin-top: 20rem;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#alertMessage {
    color: #28a745;
}

.center {
    text-align: center;
}

.checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 42px;
}

.checkbox-wrapper-22 .switch input {
    display: none;
}

.checkbox-wrapper-22 .slider {
    background-color: #e2e2e2;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 20px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 20px;
}

.checkbox-wrapper-22 input:checked+.slider {
    background-color: #4CAF50;
}

.checkbox-wrapper-22 input:checked+.slider:before {
    transform: translateX(18px);
}

.checkbox-wrapper-22 .slider.round {
    border-radius: 20px;
}

.checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
}

.collapsible {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    margin: 4px;
}

.active,
.collapsible:hover {
    background-color: #a04545;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}